@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
:root{
    --cor0:#80808079;
    --p:'Sriracha' , cursive;
    --titulo:'Passion One' , cursive;
}
@media(max-width:280px){
    body{
        font-size: 0.4em;
        
    }
    main pre{
        padding: 20px 0 20px 15px;
        white-space:pre-line;
    }
    main img pre {
        margin:0;
        padding: 0;
    }
}
@media(min-width:320px){
    main img {
        width:100%
    }
    main .img pre{
         margin-left: 15%;
    }
}
@media(max-width:375px){
    body{
        font-size: 1.1em;
       }
       
    main img {
    width:100%
}
}
@media(max-width:425px){
    body{
        font-size: 1.2em;
    }
    main img {
        width:100%
    }
    /*@media(min-width: 768px){
        main img {
            width: 100%;
        }
        main .text {
            width:40%;
            position:absolute;
            left:50%;
            top:50%;
            transform: translate(-50%,-50%);
        }
    }*/
    @media(min-width: 850px){
        body{
            font-size: 2em;
    }}
}
*{
    margin: 0px;
    padding:0px ;
}
body{
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.356);
}
header{
background-color: black;
color: white;
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
}
header h1{
    font-family: var(--titulo);
}
header p{
    font-family: var(--p);
}
main{
    padding-top: 10px;
    width: 100%;
    max-width: 800px;
    background-color: white;
    margin: auto;

}
main pre {
    font-family: var(--p);
    line-height: 2em;
}
.img{
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    }
.img pre {
    display: inline-block;    
    background-color:rgba(0, 0, 0, 0.275);
    color: white;
    white-space:pre-line;
    padding: 20px;
    margin-left: 25%;
    }
#img2{
    background-image: url(imagens/background002.jpg);
}
